/*INDEX HTML*/

.body{
    background-color: rgb(255, 255, 0);
}

.espacio{
    margin: 10%;
}


.registrarse{
    background-color: rgb(237, 237, 198);
    
}

.iniciar{
    background-color: rgb(237, 237, 198);
}


