/*TIPO DE LETRA*/

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
 
 }

/*INDEX HTML*/

.body{
    background-color: rgb(255, 255, 0);
}

.espacio{
    margin: 10%;
}


.registrarse{
    background-color: rgb(237, 237, 198);
    
}

.iniciar{
    background-color: rgb(237, 237, 198);
}


/*HTML SIMPSONS*/

.margen{
    margin-top: 5%;
}

.listaDeNavegacion{
    list-style: none;
    margin-top: 10px;
}

